.logo-container {
	margin: 60px 50px 0px 0px;
	display: flex;
}
.header-container {
	display: flex;
}
#logo {
	width: 100px;
	height: 55px;
}
#lupulo-img-izq {
	width: 50px;
	height: 50px;
	margin: 0px 0px 0px 100px;
}

#lupulo-img-der {
	width: 50px;
	height: 50px;
	margin: 0px auto 0px 0px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.datos-wrapper {
	margin-top: 30px;
}
.datos-proforma-wrapper {
	margin: 30px 0px 50px 100px;
}
.datos-container {
	display: flex;
}
h5 {
	margin-right: 10px;
}
.descripcion-container {
	margin: 0px 0px 0px 100px;
	width: 75%;
}
